__pycache__/
.vscode/
.venv/
.env
node_modules/


# データ関連
data/tmp/*
!data/tmp/.gitkeep

data/ml/model/**/*
!data/ml/model/.gitkeep

data/ml/input/config/*
!data/ml/input/config/.gitkeep

data/ml/input/data/train/*
!data/ml/input/data/train/.gitkeep
!data/ml/input/data/train/wiki_100.txt

data/ml/input/data/test/*
!data/ml/input/data/test/.gitkeep